/*Geral*/

body, a{
    color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
}

 header a, dt, h1, h2, h3, h4, h5, h6{
    font-family: "Arial, baskerville, Helvetica, sans-serif";
 }
 
b{
    color: #000;
}
center{
    color: #000;
}

 /*Containers*/

 .container{
     margin-top: -90px;
     padding: 30px 0;
     font-size: .8em;
     text-align: center;
     color:#fff;
     margin-right: auto;
     margin-left: auto;
     padding-right: 15px;
     padding-left: 15px;
 }

 /*Separadores*/

.separador-esquerda::before, .separador-direita::before{
    width: 150%;
    height: 100px;
    background:black;
    top: 0;
    content: '';
}

/*Separador à esquerda*/

.separador-esquerda{
    position: relative;
    margin-left: -5px;
}

.separador-esquerda::before{
    position: absolute;
    left: 0;
    transform: rotate(-3deg);
    transform-origin: top left;

}

/*Separador à direita*/
.separador-direita{
    position: relative;
}

.separador-direita::before{
    position: absolute;
    right: 0;
    transform: rotate(3deg);
    transform-origin: top right;
}


 
/*Cabeçalho*/

header{
    position: relative;
    height: 100vh;
    background: url(../img/melhores-marcas-de-roupas-femininas-importadas.webp) 
        center center no-repeat fixed;
}

.mascara{
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height:100%;
    background-image: url(../img/8308504ebb256886500811ad63fdd84a.jpg);
}

header h1{
    position:absolute;
    top:50%;
    left:50%;   
    transform: translate(-50%, -50%);
    font-size:3em;
}

header strong{
    color:black;

}
 .seta{
     position: absolute;
     bottom: 50px;
     left: 0;
     right: 0;
     display: block;
     margin: 0 auto;
 }


/*Portifólio*/
section.portifolio{
        min-width: 120vh;
        background: url(../img/Marcas-de-Roupas-10.jpg)
         center center no-repeat fixed #000;
        background-size: cover;
}

section.portifolio .container{
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: left;
}

section.portifolio ul{
    padding: 5px 30px;
    list-style: none;
    border-left: 2px solid #F0A8;
}

section.portifolio li{
    padding: 2px 0;
    margin: 0;
}

section.portifolio li a{
    z-index: 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

section.portifolio li a::before{
    transition: all .2s ease-in-out 0s;
    content: '';
    z-index: -1;
    position: absolute;
    top: -5px;
    bottom: 0;
    left: -10px;
    right: 0;
    width: 0;
    height:calc(100% + 10px);
    background: #F0A8;
}

section.portifolio li a:hover::before{
    transition: all .2s ease-in-out 0s;
    width: calc(100% + 20px);

}

/*Sobre mim*/
section.sobre{
    min-height: 100vh;
    background: url(../img/pattern-1la.png)
    bottom center no-repeat black;
}

section.sobre .container{
    padding-top:100px;
    width: 40%;
    margin-right: 2em;
    padding-right: 2em;
    text-align: right;
}

calendario.php{

    color: #000;

}



